*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 
  YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
	sans-serif;
  font-size: 12px;
  /* font-size: 1rem; */
  line-height: 1.7;
  color: black;
}

/* ヘッダー */
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: radial-gradient( #575757 0%, #242424 100%);
  /* background-image: url(../img/header.png); */
  /* background-size: cover; */
  /* background: lightgreen; */
  padding: 12px 0;
}
.header-nav ul {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  height: 42px;
}
.header-nav li {
  text-align: center;
  background: linear-gradient( rgb(145, 142, 142) 0%, #4e4c4c 100%);
  /* background: gray; */
  width: 15%;
  padding: 4px;
  flex: 1;
  border: 1px solid  #4e4c4c;
}
.header-nav a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px #000;
  display: block;
  width: 100%;
}
.header-nav span {
  color: gold;
  text-shadow: 1px 1px 1px #000;
  font-size: 8px;
  /* font-size: 2vw; */
}
.header-nav li:hover {
  opacity: 0.9;
}

/* メイン */
main {
  margin: 0 12px;
  /* padding: 0 12px; */
  padding-top: 70px;
  /* width: 100%; */
  /* height: 300px;
  /* background: lightgray; */
  /* border: 1px solid black; */
  /* background: rgb(127, 185, 127); */
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 30px;
  text-shadow: 1px 1px 1px rgb(172, 165, 165);
}

h2 {
  font-size: 18px;
  font-weight: bold;
  background: lightgrey;
  border-left: 3px solid gray;
  padding: 4px 6px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.top {
  text-align: center;
}
.mainImg {
  padding-top: 60px;
  width: 100%;
  /* max-width: 90%; */
  margin: 0 auto;
  /* margin-bottom: 10px; */
}

.top h2 {
  background:none;
  border-left:none;
}

.top img {
  width: 80%;
  max-width: 600px;
  margin: 10px 0 30px ;
}

/* フッター */
footer {
  width: 100%;
  text-align: center;
  background: radial-gradient( #575757 0%, #242424 100%);
  padding: 12px 14px;
  border-top: 2px solidg gray;
  margin-top: 20px;
  
}

.footer-nav {
  text-align: left;
}

footer li {
  padding: 6px 0;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

footer a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.footer-nav span {
  color: gold;
}
footer p {
  margin-top: 30px;
  margin-bottom: 42px;
  color: white;
}
.ad {
  color: white;
  display: block;
}

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  max-height: 42px;
  display: flex;
  align-items: center;
}
.logo {
  width: 50%;
  max-width: 400px;
  background: white;
}
.tel {
  width: 50%;
  line-height: 42px;
  background: rgb(46, 44, 44);
  /* background-image: url(../img/header.png); */
  /* background-size: cover; */
  /* font-size: 12px; */
  font-weight: bold;
  font-family: ヒラギノ角ゴシック, "Hiragino Sans", YuGothic, sans-serif;
  flex: 1;
}
.tel a {
  /* color: rgba(0, 0, 0, 0.8); */
  color: gold;
  text-shadow: 1px 1px 1px #000;
}
.logo img {
  width: 50%;  
  height: 42px;
}


/* 料金表 */
.price h3 {
  margin-top: 20px;
}
.price table {
  border-collapse: collapse;
  /* border: 1px solid black; */
  font-size: 12px;
  text-shadow: 1px 1px 1px rgb(172, 165, 165);
}

.price td {
  border: solid 1px black;
  padding: 6px;
  width: 90px;
}

.price td:nth-of-type(even) {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
.price td:nth-of-type(odd) {
  color: white;
}

.price p {
  margin-top: 20px;
}
.price span {
  display: block;
  padding-bottom: 4px;
}

/* 客室紹介 */
.room img{
  transition: opacity 0.1s;
}

.room img:hover {
  opacity: 0.7;
  /* transition: opacity 0.1s; */
}

/* サービス */
.service table {
  border-collapse: collapse;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgb(172, 165, 165);
  /* border: 1px solid black; */
}
.service td {
  /* border: solid 1px black; */
  padding: 6px;
}
.service td:nth-child(odd) {
  width: 250px;
}
.service p {
  margin-top: 20px;
}

/* アクセス */
.access span {
  display: block;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 52.5%;
  position: relative;
  /* margin: 18px; */
  }
  .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  /* height: 70%;
  width: 70%; */
  height: 100%;
  width: 100%;
  }